*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --backgroundPrimary:#00002A;
    --backgroundSecondary: #1A3F75;
    --color: #fff;
}
body{
    background-color: var(--backgroundPrimary);
    color: var(--color);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.4rem;
    position: sticky;
    top: 0;
    background-color: var(--backgroundPrimary);
    z-index: 10;
    
}
header h1{
    padding: 1rem;
}
header nav ul{
    display: flex;
    gap: .8rem;
    list-style: none;
    
}
nav ul a{
    padding: 1rem;
    color: var(--color);
    background-color: var(--backgroundSecondary);
    text-decoration: none;
    border-radius: .2rem;
}
nav ul a:hover{
    background-color: var(--color);
    color: var(--backgroundSecondary);
}
main{
    min-height: 100vh;
    background-color: var(--backgroundSecondary);
    padding: 2rem 1rem;
}

.cards-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    text-decoration: none;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: .4rem;
    overflow: hidden;
    color: inherit;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card:hover{
    transform: scale(1.01);
}
.card img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    background-color: #f0f0f0;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.4;
    gap: .8rem;
    /* position: relative; */
    /* z-index: 1; */
}
.card h2{
    color: #00002A;
    font-size: 1.1rem;
    margin: 0;
}
.card p{
    font-size: .9rem;
    color: #333;
    margin: 0;
}

footer{
    text-align: center;
    padding: 1rem;
}

@media (max-width:480px){

    header{
        flex-direction: column;
        
    }
    header h1{
        padding: 1rem;
    }
    header nav a{
        padding: .5rem 1rem; 
    }
    .card{
        width: 190px;
        max-width: 100%;
        
    }
}